# PiPulse Configuration Template
# Rename this file to .env and fill in your details

# Spotify API (Get these from https://developer.spotify.com/dashboard)
SPOTIPY_CLIENT_ID=your_client_id
SPOTIPY_CLIENT_SECRET=your_client_secret
SPOTIPY_REDIRECT_URI=http://localhost:8080
SPOTIPY_REFRESH_TOKEN=your_refresh_token

# Pi-hole (Found in Admin Panel > Settings > API/Web Interface)
PIHOLE_API_TOKEN=your_pihole_token
PIHOLE_URL=http://192.168.1.100/admin/api.php
